<!-- big screen -->
<div id="landing_page">
  <div class="row animated rotateIn">
    <!-- quad 1 -->
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated rotateInDownRight">
          <h1><a class="waves-effect waves-light" href="#modal1">ABOUT</a></h1>
        </div>
      </div>
    </div>
    <!-- quad 2 -->
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated rotateInDownLeft">
          <h1><%= link_to 'PORTFOLIO', portfolios_path %></a></h1>
        </div>
      </div>
    </div>
    <!-- quad 3 -->
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated rotateInUpRight">
          <h1><%= link_to 'BLOG', blogs_path %></h1>
        </div>
      </div>
    </div>
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated rotateInUpLeft">
          <h1><a href='#'>BOOKINGS</a></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>About</h4>
    <p>About</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">close</a>
  </div>
</div>
        