<!-- big screen -->
<div id="landing_page">
  <div class="row animated bounceInDown">
    <!-- quad 1 -->
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated bounceInLeft">
          <h1>ABOUT</h1>
        </div>
      </div>
    </div>
    <!-- quad 2 -->
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated bounceInRight">
          <h1>PORTFOLIO</h1>
        </div>
      </div>
    </div>
    <!-- quad 3 -->
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated fadeInRightBig">
          <h1>BLOG</h1>
        </div>
      </div>
    </div>
    <div id="quadrant" class="col s12 m12 l6">
      <div class="section">
        <div class="center-align animated fadeInLeftBig">
          <h1>BOOKINGS</h1>
        </div>
      </div>
    </div>
  </div>
</div>
