/*
 *= require_tree .
 *= require_self
 */

 @import 'materialize';
 $primary-color: color("black", "lighten-2") !default;
 $secondary-color: color("gray", "base") !default;
 @import "materialize/extras/nouislider";
 @import url('https://fonts.googleapis.com/css?family=Just+Another+Hand|Sue+Ellen+Francisco');


* {
  background-color: black;
  font-family: 'Sue Ellen Francisco', cursive;
  /*font-family: 'Just Another Hand', cursive;*/
}

body {
  max-height: 90vh;
}


a {
  z-index: 6;
  color: white;
  margin: 0px;
}

nav {
  background-color: black;
  z-index: 8;
}



.section {
  /*border: 5px solid white;*/
  padding: 5px;
  margin-bottom: 0;
  min-height: 38vh;
  /*max-height: 49vh; */
  text-shadow: 3px 6px 9px white;
}



#quadrant {
  /*border: 3px dotted yellow;*/
  padding: 0;
  /*margin: 0;*/
  min-height: 37vh;
  max-height: 37vh; 
  min-width: 45vh;
  max-width: 98vh;
}

#quadrant > div {
  background-position: center; 
  background-size: contain;
}

#landing_page {
  z-index: -1;
  /*border: 2px dotted green;*/
  margin: 0;
  padding: 0;
  max-height: 90vh;
}

#quadrant > div {
  position: relative;
}

#quadrant > div > div {
  position: absolute;
  bottom: 20vh;
  left: 15vw; 
}

#mobile > li > a {
  color: white;
}

#mobile {
  background: black;
  border: 1px solid white;
}

body > nav > div > a.brand-logo.center > p {
  z-index: 10;
  text-decoration: underline wavy pink;
}

body > nav > a.button-collapse > i {
  border: 0px solid black;
}

#quadrant > div > div > h1 > a {
  color: white;
  text-decoration: underline wavy pink;
  text-shadow: 3px 6px 5px black;
  z-index: 8;
}

body > nav.animated.flipInY > div > a > h1 {
  color: white;
  text-decoration: underline wavy pink;
  text-shadow: 3px 5px 3px black;
  z-index: 10;
}
