/*
 *= require_tree .
 *= require_self
 */

 @import 'materialize';
 $primary-color: color("black", "lighten-2") !default;
 $secondary-color: color("gray", "base") !default;
 @import "materialize/extras/nouislider";
 @import url('https://fonts.googleapis.com/css?family=Barrio');


* {
  background-color: black;
}

body {
  max-height: 99vh;
}

#landing_page {
  /*border: 2px dotted green;*/
  margin: 0;
  padding: 0;
  max-height: 810px;
}

#quadrant, #quadrant_four, #quadrant_four_small {
  /*border: 3px dotted yellow;*/
  padding: 0;
  /*margin: 0;*/
  min-height: 45vh;
  max-height: 50vh; 
  min-width: 45vh;
  max-width: 98vh;
}

.section {
  /*border: 5px solid white;*/
  padding: 5px;
  margin-bottom: 0;
  min-height: 49vh;
  /*max-height: 49vh; */
  font-family: 'Barrio', cursive;
  text-shadow: 1px 1px 10px white;
}


#quadrant > div {
  position: relative;
}

#quadrant > div > div {
  position: absolute;
  bottom: 20vh;
  left: 15vw; 
}

#quadrant_four > div {
  position: relative;
}

#quadrant_four > div > div {
  position: absolute;
  margin-top: 3%;
  bottom: 0vh;
  left: 0vw; 
}

#quadrant_four_small > div {
  position: relative;
}

#quadrant_four_small > div > div {
  position: absolute;
  margin-top: 3%;
  bottom: 0vh;
  left: 0vw; 
}



